**/.git
**/.svn
**/.hg


**/.dockerignore
**/.editorconfig
**/.eslintignore
**/.gitignore
**/.gitignore
**/.prettierignore
**/.releaserc

**/*.log
**/*.lock
**/*.md
**/*.sh
**/*.json
**/*.env_*
**/*.tsbuildinfo
**/*.DS_Store
**/.DS_Store
**/node_modules

**/.next
**/__mocks__
**/api
**/cypress
**/*.spec.*
**/swagger
**/coverage
**/public
**/docs
**/.idea
**/.plop
**/.husky
**/.github
**/.swc
**/.storybook
**/dockerfile.*