main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
}

aside {
	padding: 0;
}


.main-heading {
	text-align: center;
	margin: 0;
	font-size: 10rem;
}

.content-box {
	padding: 1rem;
	max-width: 600px;
	border-radius: 0.5rem;
	background-color: var(--base-content);
	color: var(--base);
	box-shadow: 0 0 0.5rem var(--base-content);
	position: relative;
}

.button-menu {
	margin-bottom: 1rem;
	background-color: var(--base-content);
	padding: 1rem;
	border-radius: 0.5rem;
	max-width: 600px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	gap: 1rem;

	button {
		padding: 0.25rem;
		background-color: transparent;
		border: none;
		cursor: pointer;
		transition: background-color 0.25s ease-in-out;
		z-index: 1;
		position: relative;


		&:hover {
			svg {
				fill: var(--primary-dark);
			}
		}

		&:active {
			transform: scale(0.95);
		}

		svg {
			width: 2.5rem;
			height: 2.5rem;
			fill: var(--primary);
			transition: fill 0.25s ease-in-out;
		}
	}
}
