@import "css/base.css";
@import "css/utilities.css";
@import "css/forms.css";
@import "css/components.css";
@import "css/layout.css";
@import "css/backgrounds.css";

@property --base {
	syntax: '<color>';
	initial-value: #f4f5dd;
	inherits: true;
}

@property --base-content {
	syntax: '<color>';
	initial-value: #4A4944;
	inherits: true;
}

@property --neutral-dark {
	syntax: '<color>';
	initial-value: #111111;
	inherits: true;
}

@property --neutral-light {
	syntax: '<color>';
	initial-value: #eeeeee;
	inherits: true;
}

@property --primary {
	syntax: '<color>';
	initial-value: #c2a056;
	inherits: true;
}

@property --secondary {
	syntax: '<color>';
	initial-value: #5a696a;
	inherits: true;
}

@property --accent {
	syntax: '<color>';
	initial-value: #D3494E;
	inherits: true;
}


* {
	box-sizing: border-box;
	--accent-darker: hsl(from var(--accent) h s 10%);
	--accent-dark: hsl(from var(--accent) h s 30%);
	--accent-light: hsl(from var(--accent) h s 70%);
	--accent-lighter: hsl(from var(--accent) h s 90%);
	--primary-darker: hsl(from var(--primary) h s 10%);
	--primary-dark: hsl(from var(--primary) h s 30%);
	--primary-light: hsl(from var(--primary) h s 70%);
	--primary-lighter: hsl(from var(--primary) h s 90%);
}

.chicle-regular {
	font-family: "Chicle", serif;
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
	text-shadow: -5px 5px 0 var(--neutral-dark);
}
